.Home{
    font-size: 20rem;
}

.MuiButton-label {
    width: 100%;
    display: inherit;
    align-items: inherit;
    /* font-size: 20rem; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: inherit;
}